@page "{id:int}"
@model RestauranteApp.Pages.ItensCardapio.DetailsModel

@{
    ViewData["Title"] = "Detalhes do item";
}

<h1>Detalhes do item</h1>

<div>
    <h4>ItemCardapio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.PrecoBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.PrecoBase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Periodo)
        </dd>

        <dd class="col-sm-2">
            Ingredientes (@(Model.Item.Ingredientes.Count)):
            @if (Model.Item.Ingredientes.Any())
            {
                <ul>
                    @foreach (var ingrediente in Model.Item.Ingredientes)
                    {
                        <li>@ingrediente.Nome</li>
                    }
                </ul>
            }
            else
            {
                <p>Nenhum ingrediente associado.</p>
            }
)))
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
