@page
@model RestauranteApp.Pages.Reservas.IndexModel

@{
    ViewData["Title"] = "Minhas Reservas";
}

<h1>Minhas Reservas</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Nova reserva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Data/Hora</th>
            <th>Mesa</th>
            <th>Usuario id CORRIGIR DPS</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Lista)
        {
            <tr>
                <td>@r.DataHora.ToString("dd/MM/yyyy HH:mm")</td>
                <td>Mesa @r.Mesa?.Numero</td>
                <td>Usuario @r.UsuarioId</td>
                <td class="text-end">
                    <a asp-page="Edit" asp-route-id="@r.Id" class="btn btn-sm btn-outline-primary">Editar</a>
                    <a asp-page="Delete" asp-route-id="@r.Id" class="btn btn-sm btn-outline-danger">Cancelar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
