@page
@model RestauranteApp.Pages.Enderecos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EnderecoEntrega</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Perfil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Perfil.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.UF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.UF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.CEP)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EnderecoEntrega.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
