@page
@model RestauranteApp.Pages.Enderecos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnderecoEntrega</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Perfil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Perfil.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.UF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.UF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoEntrega.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnderecoEntrega.CEP)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EnderecoEntrega.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
