@page
@model RestauranteApp.Pages.Enderecos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].CEP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enderecos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
